# Data Merging

<h2>Soal 1: Penggabungan Data</h2>

- Sebutkan perbedaan antara full outer join, inner join, dan left join

inner join:Inner Join menggabungkan baris-baris yang memiliki nilai yang sesuai di kedua tabel yang dijoin.
left join: Left Join menggabungkan semua baris dari tabel yang pertama (tabel kiri) dengan baris-baris yang memiliki nilai yang sesuai dari tabel kedua (tabel kanan).
full outer join:Full Outer Join menggabungkan semua baris dari kedua tabel, termasuk baris-baris yang memiliki nilai yang sesuai dan yang tidak memiliki nilai yang sesuai di kedua tabel.

<h2>Soal 2: Penggabungan Data</h2>

Pada quiz no 2 ini gunakan data [names1881.csv](https://drive.google.com/uc?export=download&id=1Pwu3cv93hI79jmi52kJ05xhophknDKat) dan [names1981.csv](https://drive.google.com/uc?export=download&id=1pvsGaybr423hJXcN35e5nS3sg4ha4jo3), data ini berisi nama bayi yang lahir pada tahun 1881 atau 1981 di Amerika.

- Baca data tersebut dengan memberikan nama column 'Name', 'Gender', 'Count'.
- Tunjukan jumlah dimensi dari data 'names1881.csv' dan 'names1981.csv'
- Gabungkan kedua data tersebut berdasarkan sumbu baris
- Tunjukan jumlah dimensi dari data setelah di gabungkan.

In [1]:
import pandas as pd


data1881 = pd.read_csv('names1881.csv', names=['Name', 'Gender', 'Count'])
data1981 = pd.read_csv('names1981.csv', names=['Name', 'Gender', 'Count'])

dimensi_data1881 = data1881.shape
print(f"Jumlah dimensi data 'names1881.csv': {dimensi_data1881}")


dimensi_data1981 = data1981.shape
print(f"Jumlah dimensi data 'names1981.csv': {dimensi_data1981}")


# gabungkan data
merged_data = pd.concat([data1881, data1981])
print(merged_data)

dimensi_setelah_gabung = merged_data.shape
print(f"Jumlah dimensi data setelah digabungkan: {dimensi_setelah_gabung}")

Jumlah dimensi data 'names1881.csv': (1935, 3)
Jumlah dimensi data 'names1981.csv': (19455, 3)
            Name Gender  Count
0           Mary      F   6919
1           Anna      F   2698
2           Emma      F   2034
3      Elizabeth      F   1852
4       Margaret      F   1658
...          ...    ...    ...
19450   Zeferino      M      5
19451    Zerrick      M      5
19452   Zimbabwe      M      5
19453     Zoltan      M      5
19454     Zuriel      M      5

[21390 rows x 3 columns]
Jumlah dimensi data setelah digabungkan: (21390, 3)

Expected Result: 

Jumlah Dimensi data 'names1881.csv': 

(1935, 3)

Jumlah Baris data 'names1981.csv':

(19455, 3)

![alt text](https://drive.google.com/uc?id=1jMCAdLrcJubjufydZBnzdQkYqDS3Klat)

Jumlah dimensi data setelah penggabungan : 

(21390, 3)

<h2>Soal 3: Penggabungan Data</h2>

Lakukan jenis penggabungan data full outer join, inner join, left outer join dan right outer join pada kedua data berikut:

In [2]:
import pandas as pd

data1 = {
    'id': [1, 2, 3, 4],
    'Feature1': ['a1', 'a2', 'a3', 'a4'],
    'Feature2': ['b1', 'b2', 'b3', 'b4']
}

data2 = {
    'id': [3, 4, 5, 6, 7],
    'Feature3': ['c1', 'c2', 'c3', 'c4', 'c5']
}

# Buat DataFrame dari data1 dan data2
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Full Outer Join
full_outer_join = pd.merge(df1, df2, on='id', how='outer')
print("Full Outer Join:")
print(full_outer_join)

# Inner Join
inner_join = pd.merge(df1, df2, on='id', how='inner')
print("\nInner Join:")
print(inner_join)

# Left Outer Join
left_outer_join = pd.merge(df1, df2, on='id', how='left')
print("\nLeft Outer Join:")
print(left_outer_join)

# Right Outer Join
right_outer_join = pd.merge(df1, df2, on='id', how='right')
print("\nRight Outer Join:")
print(right_outer_join)

Full Outer Join:
   id Feature1 Feature2 Feature3
0   1       a1       b1      NaN
1   2       a2       b2      NaN
2   3       a3       b3       c1
3   4       a4       b4       c2
4   5      NaN      NaN       c3
5   6      NaN      NaN       c4
6   7      NaN      NaN       c5

Inner Join:
   id Feature1 Feature2 Feature3
0   3       a3       b3       c1
1   4       a4       b4       c2

Left Outer Join:
   id Feature1 Feature2 Feature3
0   1       a1       b1      NaN
1   2       a2       b2      NaN
2   3       a3       b3       c1
3   4       a4       b4       c2

Right Outer Join:
   id Feature1 Feature2 Feature3
0   3       a3       b3       c1
1   4       a4       b4       c2
2   5      NaN      NaN       c3
3   6      NaN      NaN       c4
4   7      NaN      NaN       c5

In [ ]:
#join data
df_outer_join =
print(df_outer_join)

df_inner_join =
print(df_inner_join)

df_left_join =
print(df_left_join)

df_right_join =
print(df_right_join)

Expected Result:

![alt text](https://drive.google.com/uc?id=1kUpkzWh3Y-X_1H1QXHiccdHf4YjqXsDu)

![alt text](https://drive.google.com/uc?id=1ojoAC2oX9P3ZHl0lS3RXipd7gShLOmmC)

![alt text](https://drive.google.com/uc?id=12jDnQzIosn6dizVwl2nPMX1IhhyEZ4FA)

![alt text](https://drive.google.com/uc?id=11znqscNsVZ-cHY-PPgoHEBDWyc6XRtAL)

<h2>Soal 4: Penggabungan Data berbeda label column Key</h2>

Lakukan jenis penggabungan inner join untuk 2 data yang memiliki nama column key yang berbeda ini:

In [3]:
import pandas as pd

data1 = {
    'key_data1': [1, 2, 3, 4],
    'Feature1': ['a1', 'a2', 'a3', 'a4'],
    'Feature2': ['b1', 'b2', 'b3', 'b4']
}

data2 = {
    'key_data2': [3, 4, 5, 6, 7],
    'Feature3': ['c1', 'c2', 'c3', 'c4', 'c5']
}


df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)


inner_join = pd.merge(df1, df2, left_on='key_data1', right_on='key_data2', how='inner')

print("Inner Join:")
print(inner_join)

Inner Join:
   key_data1 Feature1 Feature2  key_data2 Feature3
0          3       a3       b3          3       c1
1          4       a4       b4          4       c2

In [ ]:
# Gabungkan kedua data tersebut

Expected Result:

![alt text](https://drive.google.com/uc?id=1uBiVOPnqns4al88FDc0ENIeTzIxP4wxH)



---



---

# Data GroupBy

<b>Note</b>: Pada kuis kali ini kita akan menggunakan data diamonds.csv yang bisa kalian download [disini](https://drive.google.com/uc?export=download&id=1qQiM9utQUThTPq8jk8stPMh_y2zfqYOd). setelah di download, kalian pindahkan data tersebut satu level dengan direktori file notebook ini.

In [ ]:
import pandas as pd
df = pd.read_csv('diamonds.csv')
df.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
df.head()

Columns Metadata:

carat: berat diamond

cut: kualitas diamond

color: warna diamond

clarity: level kemurnian diamonds

depth: tinggi dari diamond tabel

table: lebar  dari diamond tabel

price: harga diamond ($US)

x: panjang

y: lebar

z: kedalaaman

<h2>Soal 5: Process Grouping</h2>

Jelaskan prosess yang terjadi dalam grouping data menggungkan method <b>groupby()</b> dari pandas.

jawab: digunakan untuk mengelompokkan data berdasarkan nilai tertentu dalam satu atau lebih kolom
proses: -Pemilihan Kolom,Pengelompokan,iterasi atau Aggregasi,hasil

<h2>Soal 6: Grouping All Column</h2>
    
Group data diamond berdasarkan cut (kualitas), lakukan aggregasi dengan fungsi rata2.

In [4]:
#code here
import pandas as pd

# Baca dataset diamond
diamonds = pd.read_csv('diamonds.csv')

# Kelompokkan data berdasarkan kolom "cut" dan hitung rata-rata
result = diamonds.groupby('cut')['price'].mean()

# Tampilkan hasil aggregasi
print(result)

cut
Fair         4358.757764
Good         3928.864452
Ideal        3457.541970
Premium      4584.257704
Very Good    3981.759891
Name: price, dtype: float64

Expected Output:

![alt text](https://drive.google.com/uc?id=1GKanuLzNv_pYBFVRBmQywxQw39uQBvSl)

<h2>Soal 7: Grouping Some Column base on Multiple Criteria</h2>
    
Lakukan groupby pada data berdasarkan kriteria cut (kualitas) dan color (warna) secara berurutan, dengan aggregasi pada column carat, table, dan price saja. dengan fungsi agregasi rata-rata.

In [5]:
#code here
import pandas as pd


diamonds = pd.read_csv('diamonds.csv')


result = diamonds.groupby(['cut', 'color'])[['carat', 'table', 'price']].mean()


print(result)

                    carat      table        price
cut       color
Fair      D      0.920123  58.969325  4291.061350
          E      0.856607  59.364732  3682.312500
          F      0.904712  59.453205  3827.003205
          G      1.023822  58.773248  4239.254777
          H      1.219175  58.696370  5135.683168
          I      1.198057  59.237143  4685.445714
          J      1.341176  58.917647  4975.655462
Good      D      0.744517  58.541541  3405.382175
          E      0.745134  58.779957  3423.644159
          F      0.775930  58.910891  3495.750275
          G      0.850896  58.471986  4123.482204
          H      0.914729  58.611111  4276.254986
          I      1.057222  58.773946  5078.532567
          J      1.099544  58.813029  4574.172638
Ideal     D      0.565766  55.965632  2629.094566
          E      0.578401  55.967461  2597.550090
          F      0.655829  55.924203  3374.939362
          G      0.700715  55.902375  3720.706388
          H      0.799525  55.965843  3889.334831
          I      0.913029  56.021357  4451.970377
          J      1.063594  56.012612  4918.186384
Premium   D      0.721547  58.718964  3631.292576
          E      0.717745  58.779461  3538.914420
          F      0.827036  58.679279  4324.890176
          G      0.841488  58.702360  4500.742134
          H      1.016449  58.792034  5216.706780
          I      1.144937  58.771849  5946.180672
          J      1.293094  58.874752  6294.591584
Very Good D      0.696424  58.041309  3470.467284
          E      0.676317  58.038875  3214.652083
          F      0.740961  57.848429  3778.820240
          G      0.766799  57.784428  3872.753806
          H      0.915948  57.903015  4535.390351
          I      1.046952  58.105150  5255.879568
          J      1.133215  58.277729  5103.513274

Expected Output:

Note: gambar hanya sebagaian dari keseluruhan data

![alt text](https://drive.google.com/uc?id=1XB_uHor7ZCPQUH9uQjSfd6aC6_yJnjh9)

<h2>Soal 8: Group By Multiple Aggregate Base on Multiple Criteria</h2>
    
Lakukan groupby pada data berdasarkan kriteria cut(kualitas) dan color (warna) secara berurutan kemudian aggregasi objek group by nya dengan fungsi rata2 dan median.

In [6]:
#code here
import pandas as pd

# Baca dataset diamond
diamonds = pd.read_csv('diamonds.csv')

# Kelompokkan data berdasarkan kolom "cut" dan "color", lalu hitung rata-rata dan median kolom yang diperlukan
grouped = diamonds.groupby(['cut', 'color'])[['carat', 'table', 'price']].agg(['mean', 'median'])

# Tampilkan hasil aggregasi
print(grouped)

                    carat             table               price
                     mean median       mean median         mean  median
cut       color
Fair      D      0.920123  0.900  58.969325   58.0  4291.061350  3730.0
          E      0.856607  0.900  59.364732   59.0  3682.312500  2956.0
          F      0.904712  0.900  59.453205   59.0  3827.003205  3035.0
          G      1.023822  0.980  58.773248   58.0  4239.254777  3057.0
          H      1.219175  1.010  58.696370   58.0  5135.683168  3816.0
          I      1.198057  1.010  59.237143   58.0  4685.445714  3246.0
          J      1.341176  1.030  58.917647   58.0  4975.655462  3302.0
Good      D      0.744517  0.700  58.541541   58.0  3405.382175  2728.5
          E      0.745134  0.700  58.779957   58.0  3423.644159  2420.0
          F      0.775930  0.710  58.910891   59.0  3495.750275  2647.0
          G      0.850896  0.900  58.471986   58.0  4123.482204  3340.0
          H      0.914729  0.900  58.611111   58.0  4276.254986  3468.5
          I      1.057222  1.000  58.773946   58.0  5078.532567  3639.5
          J      1.099544  1.020  58.813029   58.0  4574.172638  3733.0
Ideal     D      0.565766  0.500  55.965632   56.0  2629.094566  1576.0
          E      0.578401  0.500  55.967461   56.0  2597.550090  1437.0
          F      0.655829  0.530  55.924203   56.0  3374.939362  1775.0
          G      0.700715  0.540  55.902375   56.0  3720.706388  1857.5
          H      0.799525  0.700  55.965843   56.0  3889.334831  2278.0
          I      0.913029  0.740  56.021357   56.0  4451.970377  2659.0
          J      1.063594  1.030  56.012612   56.0  4918.186384  4096.0
Premium   D      0.721547  0.580  58.718964   59.0  3631.292576  2009.0
          E      0.717745  0.580  58.779461   59.0  3538.914420  1928.0
          F      0.827036  0.760  58.679279   59.0  4324.890176  2841.0
          G      0.841488  0.755  58.702360   59.0  4500.742134  2745.0
          H      1.016449  1.010  58.792034   59.0  5216.706780  4511.0
          I      1.144937  1.140  58.771849   59.0  5946.180672  4640.0
          J      1.293094  1.250  58.874752   59.0  6294.591584  5063.0
Very Good D      0.696424  0.610  58.041309   58.0  3470.467284  2310.0
          E      0.676317  0.570  58.038875   58.0  3214.652083  1989.5
          F      0.740961  0.700  57.848429   58.0  3778.820240  2471.0
          G      0.766799  0.700  57.784428   58.0  3872.753806  2437.0
          H      0.915948  0.900  57.903015   58.0  4535.390351  3734.0
          I      1.046952  1.005  58.105150   58.0  5255.879568  3888.0
          J      1.133215  1.060  58.277729   58.0  5103.513274  4113.0

Expected Output:

Note : gambar hanya sebagaian dari keseluruhan data

![alt text](https://drive.google.com/uc?id=1fUPIse5ELrzj26ZyWBqsAVOUb6yf7UoD)

<h2>Soal 9: Group By With Different Aggregation for specific Column</h2>
    
Lakukan groupby pada data berdasarkan criteria cut(kualitas), kemudian aggreagate dengan fungsi max pada column price dan fungsi min pada column carat.

In [7]:
#code here
#code here
import pandas as pd

# Baca dataset diamond
diamonds = pd.read_csv('diamonds.csv')

# Kelompokkan data berdasarkan kolom "cut" dan "color", lalu hitung rata-rata dan median kolom yang diperlukan
grouped = diamonds.groupby(['cut', 'color'])[['carat', 'table', 'price']].agg(['max', 'min'])

# Tampilkan hasil aggregasi
print(grouped)

                carat       table        price
                  max   min   max   min    max  min
cut       color
Fair      D      3.40  0.25  73.0  52.0  16386  536
          E      2.04  0.22  73.0  49.0  15584  337
          F      2.58  0.25  95.0  50.0  17995  496
          G      2.60  0.23  76.0  53.0  18574  369
          H      4.13  0.33  73.0  50.0  18565  659
          I      3.02  0.41  70.0  49.0  18242  735
          J      5.01  0.30  68.0  52.0  18531  416
Good      D      2.04  0.23  66.0  52.0  18468  361
          E      3.00  0.23  65.0  53.0  18236  327
          F      2.67  0.23  66.0  52.0  18686  357
          G      2.80  0.23  66.0  53.0  18788  394
          H      3.01  0.25  65.0  51.0  18640  368
          I      3.01  0.30  66.0  51.0  18707  351
          J      3.00  0.28  65.0  52.0  18325  335
Ideal     D      2.75  0.20  62.0  52.0  18693  367
          E      2.28  0.20  62.0  52.0  18729  326
          F      2.45  0.23  63.0  52.4  18780  408
          G      2.54  0.23  62.0  52.0  18806  361
          H      3.50  0.23  62.0  52.0  18760  357
          I      3.22  0.23  62.0  43.0  18779  348
          J      3.01  0.23  62.0  53.0  18508  340
Premium   D      2.57  0.20  62.0  52.0  18575  367
          E      3.05  0.20  62.0  52.0  18477  326
          F      3.01  0.20  62.0  51.0  18791  342
          G      3.01  0.23  62.0  52.0  18741  382
          H      3.24  0.23  62.0  51.0  18795  368
          I      4.01  0.23  62.0  52.0  18823  334
          J      4.01  0.30  62.0  54.0  18710  363
Very Good D      2.58  0.23  64.0  52.0  18542  357
          E      2.51  0.20  65.0  44.0  18731  352
          F      2.48  0.23  65.0  52.0  18777  357
          G      2.52  0.23  66.0  52.0  18818  354
          H      3.00  0.23  65.0  52.0  18803  337
          I      4.00  0.24  65.0  52.0  18500  336
          J      2.74  0.24  63.0  51.6  18430  336

Expected Output:

![alt text](https://drive.google.com/uc?id=1B_z5PBkLe4hNJJJV3JgDGP9G--llytKf)

<h2>Soal 10: Group By With Custom Function</h2>
    
Lakukan groupby pada data berdasarkan criteria cut(kualitas), kemudian lakukan aggregasi dengan fungsi standar deviasi pada column carat dan fungsi rentang nilai antara max dan min pada column price.

In [9]:
#code here
#code here
import pandas as pd

# Baca dataset diamond
diamonds = pd.read_csv('diamonds.csv')

# Kelompokkan data berdasarkan kolom "cut" dan "color", lalu hitung rata-rata dan median kolom yang diperlukan
grouped = diamonds.groupby(['cut'])[['carat', 'table', 'price']].agg(['mean', 'median'])

# Tampilkan hasil aggregasi
print(grouped)

              carat             table               price
               mean median       mean median         mean  median
cut
Fair       1.046137   1.00  59.053789   58.0  4358.757764  3282.0
Good       0.849185   0.82  58.694639   58.0  3928.864452  3050.5
Ideal      0.702837   0.54  55.951668   56.0  3457.541970  1810.0
Premium    0.891955   0.86  58.746095   59.0  4584.257704  3185.0
Very Good  0.806381   0.71  57.956150   58.0  3981.759891  2648.0

Expected Output:

![alt text](https://drive.google.com/uc?id=1bl6_8KryXCxLfzpAf4YF80Qvt15a3uQ6)



---



---